
.ShopImageContainer{
    display: flex;
    min-width: 150px;
    .ShopItemPicture{
        width: clamp(150px, 40ch, 75ch);
        img{
            display: inline-block;
            vertical-align: middle;
            max-inline-size: 100%;
            block-size: auto;
        }
    }
}
